{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Touch Gestures Prototype</title>

	<link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static '/vendors/bootstrap/css/bootstrap.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}" />

	<script src="{% static '/vendors/jquery/jquery-3.3.1.min.js' %}"></script>
	<script src="{% static '/vendors/jquery-ui/jquery-ui.min.js' %}"></script>
	<script src="{% static '/vendors/hammer/hammer.min.js' %}"></script>
	<script src="{% static '/vendors/hammer/jquery.hammer.js' %}"></script>
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="viewport" content="width=device-width, user-scalable=no" />

	<style type="text/css">
		body {
			margin:0;
			padding:0;
		}

		.box-container {
			display: flex;
			flex-wrap: wrap;
		}

		.large-box {
			width: 100%;
			height: 300px;
			background: #0d124a;
			padding: 5px;
			margin: 0 10px 10px 0;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.small-box {
			width: 100px;
			height: 100px;
			background: #7ce6df;
			display: flex;
			align-items: center;
			justify-content: center;
      transform: rotate(0deg);     
		}

		.action-complete {
			background: #ffffff;
		}
   
	</style>

</head>

<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<h3>Task 4</h3>
				<div class="box-container">
					<div class="large-box">
						<div class="small-box" id="rotate-box">Rotate</div>
					</div>
					<div class="large-box">
						<div class="small-box" id="pinch-box">Pinch</div>
					</div>
					<div class="large-box">
						<div class="small-box" id="press-box">Press</div>
					</div>
					<div class="large-box">
						<div class="small-box" id="pan-box">Pan</div>
					</div>
					<div class="large-box" id="big-tap-box">
						<div class="small-box" id="tap-box">Tap</div>
					</div>
					<div class="large-box">
						<div class="small-box" id="swipe-box">Swipe</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
	  // your solution here

    //rotate    
    $(function(){
    var rot = document.getElementById("rotate-box");
    var ham_rotate = new Hammer(rot);
    ham_rotate.get('rotate').set({ enable: true });
    ham_rotate.on("rotate", function() {
          rot.style.transform = "rotate(90deg)";
    });
    });  
    
    
    //pinch
    
    $(function(){
    var pincher = document.getElementById("pinch-box");
    var ham_pincher = new Hammer(pincher);
    ham_pincher.get('pinch').set({ enable: true });
    ham_pincher.on("pinch", function() {
          pincher.style.height = "30px";
          pincher.style.width = "30px";
    });
    });    
    
    //press
    
    $(function(){
    var presser = document.getElementById("press-box");
    var large = false;
    
    Hammer(presser).on("press", function() {
      
      if (large) {
          large=false;
          presser.style.height = "100px";
          presser.style.width = "100px";
      } else { 
          presser.style.height = "200px";
          presser.style.width = "200px";
          large = true;
      }
    });
    });
    
    //pan
  
    
    $(function(){
    var panner = document.getElementById("pan-box");
    
    Hammer(panner).on("pan", function() {
      alert("i hate panning");

   });
    });
    
    
    
    $('#pan-box').on("mousedown",function(e){
        var container = $(this);
        var move = $('#pan-box');
        obj.startPositionX=e.pageX-translate.x;
        obj.startPositionY=e.pageY-translate.y;
        $(document).on("mousemove",function(e){
            translate.x=e.pageX-obj.startPositionX;
            translate.y=e.pageY-obj.startPositionY;
            $('#pan-box').css('transform','scale('+scale+') translate('+translate.x+'px, '+translate.y+'px)');
        });

    });
    $(document).on("mouseup",function(){
        $(this).off("mousemove");
    });
    
    //tap
    
    var white = false;
    var tapElement = document.getElementById('tap-box');
    var bigTap = document.getElementById('big-tap-box');
    var mc_tap = new Hammer.Manager(tapElement);
    mc_tap.add( new Hammer.Tap({ event:'singletap'}) );
    mc_tap.on("singletap", function(ev) {
        if (white) {
          tapElement.style.color="#7ce6df";
          tapElement.style.background = "#0d124a";
          bigTap.style.background="#7ce6df";
          white=false;
        } else {
          bigTap.style.background = "#0d124a";
          tapElement.style.background="#7ce6df";
          tapElement.style.color = "#0d124a";
          white=true;
        }
    });
    
    //swipe
    var swiper = document.getElementById("swipe-box");
    Hammer(swiper).on("swipeleft", function() {
      swiper.style.justifyContent = "flex-start";
    });
    
    Hammer(swiper).on("swiperight", function() {
      swiper.style.justifyContent = "flex-end";
    });
      
 
    

  </script>
</body>
</html>
